@model profe.webui.Models.ProductModel


<h1 class="h3">Edit Product</h1>
<hr>
<br>
<form action="/Admin/EditProduct" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <input type="hidden" name="ProductId" value="@Model.ProductId">

            <div class="form-group ">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group ">
                <label asp-for="Price" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group ">
                <label asp-for="Stock" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Stock">
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group ">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea id="Description" class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            @*<div class="form-group">
                <label for="ImgUrl">Image Url</label><br><br>
                <input type="hidden" name="imgUrl" id="imgUrl">
                <img src="/img/@Model.ImgUrl" width="80">
                <input type="file" name="file">
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>*@
            <div class="form-group row">
                <label asp-for="ImgUrl" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="hidden" asp-for="ImgUrl">
                    <img src="~/img/@Model.ImgUrl"  />
                    <input type="file" name="file">
                </div>
            </div>


            <button type="submit" class="btn btn-warning mt-2">Edit</button>

        </div>

        <div class="col-md-3" style="margin-top: 25px; margin-left:25px;">

            @* Bu döngü validation hatası nedeyile sayfaya tekrar yönlendirdiğimizde, sayfada SelectedCategories verilerinin tutulması için eklendi
                Eğer seçilmiş herhangi bir kategori yoksa, sayfayı tekrar yüklerken boş döngüden dolayı null reference hatası veriyor *@


            @for (int i = 0; i < Model.SelectedCategories.Count; i++)
            {

                <input type="hidden" name="SelectedCategories[@i].CategoryId" value="@Model.SelectedCategories[@i].Id">
                <input type="hidden" name="SelectedCategories[@i].Name" value="@Model.SelectedCategories[@i].categoryName">

            }


            @foreach (var item in (List<Category>)ViewBag.Categories)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           class="custom-control-input"
                           name="categoryIds"
                           value ="@item.Id"

                           id="category_@(item.Id)"
                           @(Model.SelectedCategories.Any(i => i.Id == item.Id) ? "checked" : "")>
                    <label class="custom-control-label" for="category_@(item.Id)">@item.categoryName</label>
                </div>
            }
        </div>
    </div>
    </div>
</form>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.21.0/ckeditor.js"></script>
    <script>CKEDITOR.replace('Description');</script>
} 